palette = 0=#131421
palette = 1=#ff757f
palette = 2=#c3e88d
palette = 3=#ffc777
palette = 4=#7cafff
palette = 5=#fca7ea
palette = 6=#78dbff
palette = 7=#c8d3f5
palette = 8=#828bb8
palette = 9=#ff757f
palette = 10=#c3e88d
palette = 11=#ffc777
palette = 12=#7cafff
palette = 13=#fca7ea
palette = 14=#78dbff
palette = 15=#c8d3f5
background = 222436
foreground = c8d3f5
cursor-color = c8d3f5
selection-background = 444a73
selection-foreground = c8d3f5

adjust-cursor-thickness = 13
